# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend.DS_Store
/frontend.env.local
/frontend.env.development.local
/frontend.env.test.local
/frontend.env.production.local

/frontendnpm-debug.log*
/frontendyarn-debug.log*
/frontendyarn-error.log*


# compiled output
/backend/dist
/backend/node_modules

# Logs
/backendlogs
/backend*.log
/backendnpm-debug.log*
/backendyarn-debug.log*
/backendyarn-error.log*
/backendlerna-debug.log*

# OS
/backend.DS_Store

# Tests
/backend/coverage
/backend/.nyc_output

# IDEs and editors
/backend/.idea
/backend.project
/backend.classpath
/backend.c9/
/backend*.launch
/backend.settings/
/backend*.sublime-workspace

# IDE - VSCode
/backend.vscode/*
/backend!.vscode/settings.json
/backend!.vscode/tasks.json
/backend!.vscode/launch.json
/backend!.vscode/extensions.json

# App
/backend.env
